<article id="<%= dom_id comment %>" class="my-6">
  <%= link_to comment, class: "block my-4 hover:text-blue-600" do %>
    <strong class="block font-medium"><%= comment.author_name %></strong>
    <small><%= comment.created_at.to_s(:long) %></small>
  <% end %>

  <p>
    <%= comment.content %>
  </p>

  <% if action_name != "show" %>
    <hr class="mt-6">
  <% end %>
</article>
